<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/kelas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Daftar Kelas</title>
</head>
<body>
    <div class="header">
        <a href="homepageTeacher" class="logo" id="logo">Belajar Online</a>
        <div class="header-right">
            <a href="listClassTeacher" id="home">List Kelas</a>
            <a href="openClass" id="course">Membuka Kelas</a>
            <a href="report" id="course">Laporan</a>
            <div class="dropdown">
                <button class="dropbtn"> John Doe 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="profileTeacher">Profile</a>
                    <form action="/account/logout" method="post">
                        <input type="submit" value="Log Out"/>
                    </form>
                </div>
            </div>
        </div>
    </div>


    
    <div class="content">
        <article class="ecourse-all">
            <h3>Courses</h3>
        </article>
    </div>

    <div class="content">
        <input type="text" id="search-input" placeholder="Search course...">
        <button type="submit" id="search-btn"><i class="fa fa-search"></i></button>
    </div>

    <div class="tab">
        <table>
            <tr>
              <th>Course</th>
              <th>Waktu</th>
              <th>Tarif</th>
              <th>Status</th>
              <th>Nama murid</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <tr>
              <select name="class_id" id="class_id">
                <option value="1">Sejarah</option>
                <option value="1">Matematika</option>
            </select>
            <select name="waktu" id="waktu">
                <option value="1">2023-06-01 10:00:00</option>
            </select>
            
              <td>25000</td>
              <td>TIDAK TERSEDIA</td>
              <td>
                <div class="buttonK">
                    <a href="profileStudent">A</a>
                    </div>
              </td>
              <td> <a href="editClass"><button type="submit" name="" id="btn">edit</button></td></a>
              <td><button type="submit" name="" id="btn"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td>CR002</td>
                <td>10.30-11.30</td>
                <td>50000</td>
                <td>TERSEDIA</td>
                <td></td>
                <td><button type="submit" name="" id="btn">edit</button></td>
                <td><button type="submit" name="" id="btn"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
            </tr>  
          </table>
    </div>
    
    <script>

    </script>
    
</body>
</html>