<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/kelas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Daftar Kelas</title>
</head>
<body>
    <div class="header">
        <a href="homepageTeacher" class="logo" id="logo">Belajar Online</a>
        <div class="header-right">
            <a href="listClassTeacher" id="home">List Kelas</a>
            <a href="openClass" id="course">Membuka Kelas</a>
            <a href="report" id="course">Laporan</a>
            <div class="dropdown">
                <button class="dropbtn"> User
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="profileTeacher">Profile</a>
                    <form action="/account/logout" method="post">
                        <input type="submit" value="Log Out"/>
                    </form>
                </div>
            </div>
        </div>
    </div>


    
    <div class="content">
        <article class="ecourse-all">
            <h3>Courses</h3>
        </article>
    </div>

    <div class="tab">
        <table id="courseTable">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Waktu</th>
                    <th>Tarif</th>
                    <th>Link</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="courseTableBody"></tbody>
        </table>
    </div>
    
    <script>
        function fetchData() {
            const url = '/api/teacher-classes'
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data); // Process the response data here
                    populateTable(data.courses)
                })
                .catch(error => {
                    console.error(error); // Handle any errors that occur during the request
                });
        }



        function populateTable(data) {
            const tableBody = document.getElementById('courseTableBody');
            tableBody.innerHTML = ''; // Clear existing table rows

            for (const course of data) {
                const tr = document.createElement('tr')

                const courseName = document.createElement('td')
                courseName.innerText = course.course_name
                tr.append(courseName)

                const timeCol = document.createElement('td')
                timeCol.innerText = course.datetime
                tr.append(timeCol)

                const feeCol = document.createElement('td')
                feeCol.innerText = course.teacher.rate
                tr.append(feeCol)

                const linkCol = document.createElement('td')
                linkCol.innerHTML = `<a href=${course.link}>${course.link}</a>` 
                tr.append(linkCol)

                const outCol = document.createElement('td')
                const outButton = document.createElement('button')
                outButton.innerText = 'Hapus'
                outButton.onclick = async () => {
                    try {
                        const data = new FormData();
                        data.append('id', course.meeting_id);
                        const response = await fetch('/api/exit-class', {
                            method: 'POST',
                            body: new URLSearchParams(data),
                        })
                        alert('Berhasil hapus kelas!')
                        fetchData()
                    } catch (error) {
                        console.error(error)
                    }
                }
                outCol.append(outButton)
                tr.append(outCol)

                tableBody.append(tr)
            }
        }

        fetchData()
    </script>
    
</body>
</html>