<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Buka Kelas</title>
</head>
<body>
    <div class="header">
        <a href="homepageGuru" class="logo" id="logo">Belajar Online</a>
        <div class="header-right">
            <a href="listClassTeacher" id="home">List Kelas</a>
            <a href="openClass" id="course">Membuka Kelas</a>
            <a href="report" id="course">Laporan</a>
            <div class="dropdown">
                <button class="dropbtn">  User
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="profilTeacher">Profile</a>
                    <a href="login">Log Out</a>
                </div>
            </div>
        </div>
    </div>


    <body class="body">
          <div class="login-page">
            <div class="form">
              <form action="" method="post">
                <input type="text" placeholder="Nama kelas" name="nama kelas" required />
                <input type="text" placeholder="Nama guru" name="nama guru" required />
                <input type="text" placeholder="Waktu" name="waktu" required />
                <input type="text" placeholder="Tarif" name="tarif" required/>
                <input type="text" placeholder="Status" name="status" required />
                <br>
                <br>
                <button type="submit" name="btn submit">
                   Submit
                </button>
              </form>
             
            </div>
          </div>
    
</body>
</html>