<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/kelas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Kelas Saya</title>
</head>

<body>
    <div class="header">
        <a href="homepageStudent" class="logo" id="logo">Belajar Online</a>
        <div class="header-right">
            <a href="homepageStudent" id="home">Home</a>
            <a href="listClassStudent" id="course">My Class</a>
            <div class="dropdown">
                <button class="dropbtn"> User
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="profileStudent">Profile</a>
                    <form action="/account/logout" method="post">
                        <input type="submit" value="Log Out" />
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <article class="ecourse-all">
            <h3>Courses</h3>
        </article>
    </div>

    <div class="content">
        <input type="text" id="inputNama" placeholder="Search guru...">
        <button type="submit" onClick="fetchData()"><i class="fa fa-search"></i></button>
    </div>

    <div class="tab">
        <table id="courseTable">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Nama Guru</th>
                    <th>Waktu</th>
                    <th>Tarif</th>
                    <th>Masuk</th>
                    <th>Keluar</th>
                </tr>
            </thead>
            <tbody id="courseTableBody"></tbody>
        </table>
    </div>
    <script>
        function fetchData() {
            const nama = document.getElementById('inputNama').value; // Get the teacher name from user input

            const url = '/api/search-teacher-by-name?nama=' + encodeURIComponent(nama);
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data); // Process the response data here
                    populateTable(data.courses)
                })
                .catch(error => {
                    console.error(error); // Handle any errors that occur during the request
                });
        }



        function populateTable(data) {
            const tableBody = document.getElementById('courseTableBody');
            tableBody.innerHTML = ''; // Clear existing table rows

            for (const course of data) {
                const tr = document.createElement('tr')

                const courseName = document.createElement('td')
                courseName.innerText = course.course_name
                tr.append(courseName)

                const teacherName = document.createElement('td')
                teacherName.innerText = course.teacher.full_name
                tr.append(teacherName)

                const timeCol = document.createElement('td')
                timeCol.innerText = course.datetime
                tr.append(timeCol)

                const feeCol = document.createElement('td')
                feeCol.innerText = course.teacher.rate
                tr.append(feeCol)

                const inCol = document.createElement('td')
                inCol.innerHTML = `<a href=${course.link}>${course.link}</a>` 
                tr.append(inCol)

                const outCol = document.createElement('td')
                const outButton = document.createElement('button')
                outButton.innerText = 'Keluar'
                outButton.onclick = async () => {
                    try {
                        const data = new FormData();
                        data.append('id', course.meeting_id);
                        const response = await fetch('/api/exit-class', {
                            method: 'POST',
                            body: new URLSearchParams(data),
                        })
                        alert('Berhasil keluar kelas!')
                        fetchData()
                    } catch (error) {
                        console.error(error)
                    }
                }
                outCol.append(outButton)
                tr.append(outCol)

                tableBody.append(tr)
            }
        }

        fetchData()
    </script>

</body>

</html>




<!-- <html>
  <select name="class_id" id="class_id">
    <option value="1">Matematika</option>
    <option value="2">Matematika</option>
    <option value="3">Matematika</option>
    <option value="4">Matematika</option>
  </select>
  <select name="teacher_id" id="teacher_id">
    <option value="1">Budi</option>
    <option value="2">Mariska</option>
    <option value="3">Lucy</option>
  </select>
  <script>
    // use fetch to fetch class id to replace class_id selection
    const fetchClass = async () => {
      try {
        const response = await fetch('http://localhost:8000/api/class');
        const data = await response.json();
        const classes = data;
        document.querySelector('#class_id').innerHTML = '';
        for (let i = 0; i < classes.length; i++) {
          const option = document.createElement('option');
          option.value = classes[i].id;
          option.text = classes[i].name;
          document.querySelector('#class_id').appendChild(option);
        }
      } catch (error) {
        console.log(error);
      }
    }

    fetchClass();
  </script>
</html> -->